<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">Add Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div
        class="card mb-3"
        style="max-width: 540px"
      >
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ recipe.imagePath }}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <p class="card-text">{{ recipe.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- <a href="#" class="list-group-item clearfix" >
            <div class="pull-left">
                <h4 class="list-group-item-heading"></h4>
                <p class="list-group-item-text"></p>
            </div>
            <span class="pull-right">
                <img src='' alt="" class="img-ressponsive" style="max-height: 50px;">
            </span>
        </a> -->
    <app-recipeitem></app-recipeitem>
  </div>
</div>
